.message{
    grid-area: message;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.content {
    width: 100%;
    grid-area: cont;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas:
    "  . message . ";
}