@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans&display=swap');



nav{
    font-family: 'Josefin Sans';
    font-size: 20px !important;
    color: black;
    width: 100%;
    background-color: #e27d60 ;

}

.navbar-brand{
    margin-left: 7%;
}



footer{
    padding: 0 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}
#wrapper{
    padding-bottom: 2.5rem;

}
#page-container{
    position: relative;
    min-height: 100vh;

}

body{
background-color: #85dcb9;
}

#changeFont{
    font-family: 'Dosis';
}

.navbar-brand{
    color: #85dcb9;    font-size: 30px;
    font-weight: bold;
}


.navbar-brand:hover{
    color: #85dcb9;
}

.menuItem{
    color: #85dcb9;

}

.navIcon{
    color: #85dcb9;
}

.icon{

    width: 30px;
    height: 30px;

}

.footer-list{
    display: flex;
    width: 80%;
    list-style: none;
    justify-self: flex-end;
    justify-content: flex-end;
}

.footer-list li{
    margin: 0 10px;
}

footer p{

    width: 20%;
    justify-self: flex-start;
    display: flex;
    justify-content: flex-start;
}





