#contactViewList {
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: start;

}

#contactView {
    width: 90%;
    margin: 5% ;
    padding: 5%;

    background-color:#e27d60 ;
    border-radius: 10px;
}

.contactIcons{
    width: 60px;
    height: 60px;

}

.listElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2%;
}

.listElement h2{
    align-self: flex-end;
}

#backButton{

    width: 10%;

}

#backLink{
    color: black;
    width: 100%;

}

#backLink :hover{
    color: #5eb5e0;

}






