

#infoDiv {
    padding-top: 20px;
    grid-area: info;


}
.content {
    width: 100%;
    grid-area: cont;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
    "  . info . ";
}

.userData{

    display: flex;
    flex-direction: column;


}
input{
    margin-bottom: 10px;
    height: 30px;
}

input[type='submit']{
    margin: auto;
    width: 50%;
}

